<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>Book List</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body class="book-form">
       <h1>Book Edit</h1>
       <form method="POST" action="/book/edit/{{book.book_id}}">
        <input placeholder="title" name="title" type="text" value="{{book.title}}">
        <input placeholder="authors" name="authors" type="text" value="{{book.authors}}">
        <button type="submit">Save</button> 
       </form>  
    </body>
</html>