<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>Book List</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body class="list-page">
       <h1>List Page</h1>
       <p>Currently no books listed</p>
    </body>
</html>